<p style="margin-left: <%= comment.depth * 30 %>px">
  <%= format_datetime(comment.created_at) %> - <%= comment.censured_message %> <a href="#" onclick="document.getElementById('<%= comment.id %>').style.display='block';return false">Responder</a>
  <%= form_for topic_comments_path(topic), html: { id: comment.id, style: 'display:none' } do %>
  <input type="hidden" name="parent_id" value="<%= comment.id %>">
  <input type="hidden" name="p" value="<%= params[:p] %>">
  <textarea name="message"></textarea><input type="submit" value="Salvar">
<% end %>
</p>
