<p><%= link_to 'Início', topics_path %>
<h1><%= format_datetime @topic.created_at %> - <%= @topic.name %></h1>
<%= form_for topic_comments_path(@topic) do %>
  <input type="hidden" name="p" value="<%= params[:p] %>">
  <textarea name="message"></textarea><input type="submit" value="Comentar">
<% end %>

<%= render_comments_tree @topic, @comments %>

<%= paginator @current_page, @total_pages %>
