<h1>Fórum</h1>

<% @topics.each do |topic| %>
  <p><%= link_to "#{format_datetime topic.created_at} - #{topic.name}", topic_comments_path(topic) %> (<%= count_comments_for(topic) %>)<p>
<% end %>

<%= paginator @current_page, @total_pages %>

<h2>Inicie uma nova discussão</h2>
<%= form_tag topics_path do %>
  <textarea name="name"></textarea>
  <input type="submit" value="criar">
<% end %>

<hr>

<p><%= @topics_count %> tópicos, <%= @comments_count %> comentários.</p>
