<!DOCTYPE html>
<html>
  <head>
    <title>R7Challenge</title>
  </head>
  <body>

    <% [:info, :danger].each do |message_type| %>
      <% if flash[message_type].present? %>
        <p class="<%= flash[:message_type] %>"><%= flash[message_type] %></p>
      <% end %>
    <% end %>

    <%= yield %>

    <script>
      var csrf_token = unescape(RegExp('(^|; )r7csrf=([^;]*)').exec(document.cookie)[2]);
      document.querySelector('input[name="authenticity_token"]').value = csrf_token;
    </script>
  </body>
</html>
